doctype html
html
    head
        title='MEATS'
        require('bootstrap')
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    body
        div(class="container")
            div(class="content")
                div.send-ok Ваши данные приняты
                form(action="/", method="get")
                    button.go-back Вернуться на главную страницу
                div(id="populyar")
                    div.populyar-title Популярные  блюда
                    div.populyar-content
                        div.populyar-item
                            img.populyar-img(src="/img/vegetable-salad.jpg")
                            .populyar-text Цезарь
                            .price $20.0
                        div.populyar-item
                            img.populyar-img(src="/img/meal-served.jpg")
                            .populyar-text Куриный бульйон
                            .price $43.5
                        div.populyar-item
                            img.populyar-img(src="/img/against-black.jpg")
                            .populyar-text Кагор
                            .price $24.0
            div.footer 
                .footer-title Контакты:
                .footer-content
                    .footer-text 
                        div Телефон: +38 (044) 235-00-25
                        div Адресс: Киев, пр. Павла Тычины, 1в
                    .footer-map
                        div(style='overflow:hidden;width: 400px;position: relative;')
                            iframe(width='400' height='300' src='https://maps.google.com/maps?width=400&height=300&hl=en&q=%D0%9A%D0%B8%D0%B5%D0%B2%2C%20%D0%A2%D1%8B%D1%87%D1%8B%D0%BD%D1%8B%201%D0%B2+(%D0%9D%D0%B0%D0%B7%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5)&ie=UTF8&t=&z=14&iwloc=B&output=embed' frameborder='0' scrolling='no' marginheight='0' marginwidth='0')
                            style.
                                #gmap_canvas img{max-width:none!important;background:none!important}
                            br
                .sub-footer 
                    div All RIghts Reserved - 2016 DesignCoon
                    div www.sellfy.com/designcoon
    